body {
    background-color:rgb(231, 216, 240);
}

ul {
    background-color: #800080;
}

/* body {
    background-color: red;
} */
/* 
#odd {
    font-weight: bold;
}

.even {
    font-family: cursive;
}
 */
